body{
    font-family: "Poppins", sans-serif;   
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
span{
    color: rgb(230, 146, 38);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    color: aliceblue;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(image/94731.webp);
    background-repeat: no-repeat;
    background-position: top;
}
.big-dream{
    background-image: url(https://img.freepik.com/free-vector/wave-background_53876-115944.jpg?w=826&t=st=1711785590~exp=1711786190~hmac=b788007b84ba55665d8bcddcefeb1ccd60f72b0332fbd46cc4e519e6877d9624);
    background-repeat: no-repeat;
    background-position: 100%;
}
